#index-main-container{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Numans', sans-serif;
    padding: 30px;
    color: white;
}

.box{
    background: rgba(0,0,0,0.1);
    padding: 20px;
}

