html,body{
    min-height: 100vh;
    background-image: url("../icons/trekkingcouple.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#main-container{
    font-family: 'Numans', sans-serif;
    min-height: auto;
    padding: 30px;
}

.box{
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}
