/*
html,body{
    min-height: 100vh;
    background-image: url("../icons/trekkingcouple.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
*/

#main-container{
    font-family: 'Numans', sans-serif;
    min-height: auto;
    padding: 30px;
}

.box{
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 0 0 5px 5px;
}

.img-container{
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    position: relative;
    height: 500px;
}