<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TravelApp Password recovery</title>
</head>
<body>
<div class="container-fluid" style="margin-top: 50px">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center col-12">
            <h3 class="font-weight-light">TravelApp password recovery</h3>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <p>You have request a password recovery for your account, follow this <a
                    th:href="'http://'+${url}+'/recovery/'+${token}">link</a>
                to continue
                with the recovery process.</p>
        </div>
    </div>
</div>
</body>
</html>